* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: system-ui;
  --blue-color: #0891b2;
  --grey-color: #e2e8f0;
  --gold-color: #f7ad2d;
  --boxshadow: 3px 3px 4px 2px rgb(0 0 0 / 10%);
}

/* HEADER */
header {
  margin-bottom: 40px;
  position: relative;
}

.decor {
  width: 100%;
  height: 100%;
  background-color: var(--blue-color);
  box-shadow: var(--boxshadow);
  position: absolute;
  z-index: -1;

  transform-origin: bottom left;
  /* transform: rotate(-7.5deg); */
  /* transform: skewY(-10deg); */
  animation: decor 1s;
  animation-fill-mode: forwards;
}

@keyframes decor {
  from {
    transform: skewY(0);
  }

  to {
    transform: skewY(-10deg);
  }
}

.headContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 50px;
}

header img {
  max-width: 300px;
  box-shadow: var(--boxshadow);
  position: relative;
}

.aboutMe {
  max-width: 500px;
  padding: 30px 20px;
  background-color: white;
  box-shadow: var(--boxshadow);
  font-size: 1.3rem;
}

/* MAIN */
h1 {
  padding-left: 50px;
}

div.cardContainer {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  padding: 20px 50px;
}

.card {
  background-color: white;
  display: flex;
  border-left: solid 6px var(--gold-color);
  box-shadow: var(--boxshadow);
}

.card .content {
  padding: 20px 15px;
  display: grid;
  grid-template-rows: auto auto 1fr;
}

/* FOOTER */
footer {
  background-color: var(--blue-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #e2e8f0;

  padding: 40px 50px;
}

footer img {
  width: 400px;
}

@media (max-width: 1000px) {
  .decor {
    transform: skewY(-18deg);
    height: 80%;
  }

  .headContainer {
    display: block;
    padding: 40px 50px;
  }

  header img {
    float: left;
    margin-right: 10px;
  }

  .aboutMe {
    margin: auto;
    font-size: 1.2rem;
    margin-top: 190px;
  }
}

@media (max-width: 500px) {
  .decor {
    transform: skewY(-30deg);
    height: 60%;
  }

  .headContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 20px;
  }

  header img {
    float: none;
    margin-right: 0;
  }

  .aboutMe {
    margin: 0;
    padding: 0;
    /* width: 100%; */
    font-size: 1rem;
    box-shadow: none;
  }

  div.cardContainer {
    padding: 10px 20px;
  }

  footer {
    margin-top: 10px;
    padding: 0;
    display: block;
  }

  .contactDetails {
    padding: 10px 20px;
  }

  footer img {
    width: 100%;
    display: block;
    margin-bottom: 0;
  }
}
